<html>
<div class="head">
  <div class="navigation">
    <ul>
      <li><a class="active" routerLink="/start">Start</a></li>
      <li><a routerLink="/overview">Overview</a></li>
    </ul>
  </div>

  <div class="logos">
    <a href="http://www.commend.com" target="_blank">
      <img id="logoCommend"
           src="https://www.commend.com/cLibrary/Online/Press/Logo-Commend-rgb-150x191mm-V10.jpg"
           alt="Commend-Logo">
    </a>
    <a href="http://www.htl-braunau.at" target="_blank">
      <img id="logoHTL"
           src="http://www.htl-braunau.at/typo3temp/_processed_/csm_HTL-Logo-RGB-transparent_1895d372b5.png"
           alt="HTL-Braunau- Logo">
    </a>
  </div>


</div>
  <main>
    <div class="description">
      Der Backupanalyser kann Backupfiles von Sprechstellen der Firma Commend analysieren.
      Fehler werden erkann und können ausgebessert werden.
      Die Backupfiles müssen die Dateiendung .zip oder .back bestitzen.
    </div>

    <div class="uplaod">
      <p>
        Wählen Sie bitte Ihr Backupfile (.zip/.back) aus:
        <input matInput type="file" accept=".zip,.back" (change)="fileEvent($event)">
      </p>

    </div>

  </main>
</html>
