<html>
<body>
  <div class="head">
    <div class="navigation">
      <mat-nav-list>
        <mat-list-item class="active" routerLink="/start">
          <p mat-line>Start</p>
        </mat-list-item>
        <mat-list-item routerLink="/overview">
          <p mat-line>Overview</p>
        </mat-list-item>
      </mat-nav-list>
    </div>

    <div class="logos">
      <a href="http://www.commend.com" target="_blank">
        <img id="logoCommend"
             src="https://www.commend.com/cLibrary/Online/Press/Logo-Commend-rgb-150x191mm-V10.jpg"
             alt="Commend-Logo">
      </a>
      <a href="http://www.htl-braunau.at" target="_blank">
        <!-- HTL-Logo muss im Assests-Folder sein, kann sonnst nicht geladen werden -->
        <img id="logoHTL"
             src="../assets/HTL-Logo-weiss.png"
             alt="HTL-Braunau- Logo">
      </a>
    </div>

    <div class="header">
      <h1>Backup Analyzer</h1>
    </div>
  </div>


  <main>
    <div class="description">
      <p>
      Der Backupanalyser kann Backupfiles von Sprechstellen der Firma Commend analysieren.<br>
      Die häufigsten Fehler werden automatisch erkannt und können korrigiert werden.<br>
      Analysierbare Sicherungsdateien müssen die Dateiendung .zip oder .back besitzen.
      </p>
    </div>
    <div class="uplaod">
        <form method="post" enctype="multipart/form-data" action= "http://25.20.222.23:8090/api/BackupAnalyser/upload">
          Bitte wählen Sie das Backupfile ( .zip / .back ) aus:<br>
          <input name="selectFile "matInput type="file" accept=".zip,.back" (change)="fileEvent($event)">
        </form>
    </div>
 <!--
    <form method="post" enctype="multipart/form-data" action= "http://25.20.222.23:8090/api/BackupAnalyser/upload">
      <label>Wählen Sie eine Textdatei (*.txt, *.html usw.) von Ihrem Rechner aus.
        <input name="datei" type="file" size="50" accept=".zip,.bak">
      </label>
      <button>upload</button>
    </form>
 -->
  </main>

 <!-- Fehler im HTML, damit Loading-Screen bleibt:  <div *ngFor="let x=0"></div> -->

</body>
</html>
