mat-cell {
  font-size: 16px;
}

mat-table {
  padding-bottom: 20px;
  border-radius: 5px;
}

#AudioSpeicher {
  width: 250px;
  height: 25px;
}
#MediaSpeicher {
  width: 250px;
  height: 25px;
}
.storage {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: white;

  width: 100%;
  border-radius: 5px;
  border-collapse: collapse;
  font-size: 16px;
}
.storage td:nth-child(1) {
  width: 140px;
  padding: 15px;
}
.storage td:nth-child(2) {
  width: 255px;
  padding-right: 20px;
}
.storage tr:nth-child(1){
  border-bottom: solid 1px lightgray;
}

.EntityTable {
  position: relative;
  top: 5px;
}
.OK {
  color: green;
}
.OK-button:hover ::ng-deep .mat-button-focus-overlay {
/* Button mit true -- kein Hintergrund bei hovern (::ng-deep, um internen Style zu verändern -alt: /deep/ */
  background-color: transparent;
}
.notOK {
  color: red;
}
