mat-cell {
  font-size: 16px;
}

mat-table {
  padding-bottom: 20px;
}

#AudioSpeicher {
  width: 250px;
  height: 25px;
}
#MediaSpeicher {
  width: 250px;
  height: 25px;
}
.storage {
  margin-top: 10px;
}
.storage td:nth-child(2) {
  text-align: left;
  width: 440px;
}

.EntityTable {
  position: relative;
  top: 5px;
}
.OK {
  color: black;
}
.notOK {
  color: red;
}
