<html>
  <main>

    <div class="DeviceProperty">
      <h3>Geräte-Eigenschaften</h3>

      <table>
        <tr>
          <td>Name</td>
          <td>{{deviceProperties.deviceName}}</td>
        </tr>
        <tr>
          <td>Application-Version</td>
          <td>{{deviceProperties.applicationVersion}}</td>
        </tr>
        <tr>
          <td>Image-Version</td>
          <td>{{deviceProperties.imageVersion}}</td>
        </tr>
        <tr>
          <td>OS-Version</td>
          <td>{{deviceProperties.osVersion}}</td>
        </tr>
        <tr>
          <td>Java-Version</td>
          <td>{{deviceProperties.javaVersion}}</td>
        </tr>
        <tr>
          <td>Typ</td>
          <td>{{deviceProperties.deviceType}}</td>
        </tr>
      </table>
    </div>

    <!-- -zwei Balken, um die Speicherbelegung zu verdeutlichen -->
    <table class="storage">
      <tr>
        <td>
          Media-Speicher:
        </td>
        <td>
          <meter id="MediaSpeicher" min="0" low="{{MediaLow}}" high="{{MediaHigh}}" max="{{MaxMediaValue}}" value="{{MediaValue}}"></meter>
        </td>
        <td>{{MediaValue}}</td>
        <td>
          kB / {{MaxMediaValue}} kB belegt
        </td>
      </tr>

      <tr>
        <td>
          Audio-Speicher:
        </td>
        <td>
          <meter id="AudioSpeicher" min="0" low="{{AudioLow}}" high="{{AudioHigh}}" max="{{MaxAudioValue}}" value="{{AudioValue}}">Hallo</meter>
        </td>
        <td>{{AudioValue}}</td>
        <td>
          kB / {{MaxAudioValue}} kB belegt
        </td>
      </tr>
    </table>

    <!-- Liste aller Entities -->
    <div class="EntityTable">
      <h3>Entities:</h3>
      <table>
        <tr *ngFor="let entity of entities">
          <td> {{entity.name}} </td>
          <!-- falls alles gut -> grüner Hintergrund -->
          <td *ngIf="entity.ok" class="OK"> {{entity.ok}} </td>
          <!-- falls Fehler -> roter Hintergrund -->
          <td *ngIf="!entity.ok" class="notOK"> {{entity.ok}} </td>
        </tr>
      </table>
    </div>





  </main>
</html>

<!-- mat-table funktioniert leider nicht
    <div class="entityTable">
      <mat-table #table [dataSource]="dataSource">

        // Entity-Spalte
        <ng-container *matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Entity </mat-header-cell>
          <mat-cell *matCellDef="let entity"> {{entity.name}}</mat-cell>
        </ng-container>

        // Status-Spalte (true/false)
        <ng-container *matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let entity"> {{entity.ok}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  -->
