<html>
<body>
  <div class="head">
    <!-- Navigation -->
    <div class="navigation">
      <mat-nav-list>
        <mat-list-item routerLink="/start">
          <p mat-line>Start</p>
        </mat-list-item>
        <mat-list-item class="active" routerLink="/overview">
          <p mat-line >Overview</p>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <!-- Logos -->
    <div class="logos">
      <a href="http://www.commend.com" target="_blank">
        <img id="logoCommend"
             src="https://www.commend.com/cLibrary/Online/Press/Logo-Commend-rgb-150x191mm-V10.jpg"
             alt="Commend-Logo">
      </a>
      <a href="http://www.htl-braunau.at" target="_blank">
        <img id="logoHTL"
             src="../assets/HTL-Logo-weiss.png"
             alt="HTL-Braunau- Logo">
      </a>
    </div>

    <div class="header">
      <h1>Backup Analyzer</h1>
    </div>
  </div>


  <main>
    <!-- Tabelle der Geräteeigenschaften -->
    <div class="DeviceProperty">
      <mat-table #table [dataSource]="DeviceDataSource">
        <!-- Eigenschaften Spalte -->
        <ng-container matColumnDef="eigenschaften">
          <mat-header-cell *matHeaderCellDef> Eigenschaften </mat-header-cell>
          <mat-cell *matCellDef="let deviceProperty"> {{deviceProperty.eigenschaft}} </mat-cell>
        </ng-container>

        <!-- Status Spalte -->
        <ng-container matColumnDef="aktStatus">
          <mat-header-cell *matHeaderCellDef> aktueller Stand </mat-header-cell>
          <mat-cell *matCellDef="let deviceProperty"> {{deviceProperty.aktStatus}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedDeviceColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedDeviceColumns;"></mat-row>
      </mat-table>
    </div>

    <!-- -zwei Balken, um die Speicherbelegung des Media- und des Audio-Speichers zu visualisieren -->
    <table class="storage">
      <tr>
        <td>Media-Speicher:</td>
        <td>
          <meter id="MediaSpeicher" min="0" low="{{MediaLow}}" high="{{MediaHigh}}" max="{{storage.MediaMax}}" value="{{storage.MediaUsed}}"></meter>
        </td>
        <td> {{storage.MediaUsed}} MB / {{storage.MediaMax}} MB belegt </td>
      </tr>
      <tr>
        <td>Audio-Speicher:</td>
        <td>
          <meter id="AudioSpeicher" min="0" low="{{AudioLow}}" high="{{AudioHigh}}" max="{{storage.AudioMax}}" value="{{storage.AudioUsed}}">Hallo</meter>
        </td>
        <td>{{storage.AudioUsed}} MB / {{storage.AudioMax}} MB belegt </td>
      </tr>
    </table>

    <!-- Tabelle der geprüften Entities -->
    <div class="EntityTable">
      <mat-table #table [dataSource]="EntityDataSource">
        <!-- Name Spalte -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let entity"> {{entity.name}} </mat-cell>
        </ng-container>

        <!-- Status Spalte -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let entity">
            <!-- kein Fehler aufgetreten -->
            <div class="OK" *ngIf="entity.status">
              <button mat-button class="OK-button" disabled><mat-icon>done</mat-icon></button>
            </div>
            <!-- Fehler wurde gefunden -->
            <div class="notOK" *ngIf="entity.status == false">
              <button mat-button color="warn" (click)="showError(entity.name)"><mat-icon>close</mat-icon></button>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedEntityColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedEntityColumns;"></mat-row>
      </mat-table>
    </div>


<!-- Korrektes Backupfile herunterladen -->
    <form method="get" action="http://localhost:8090/api/BackupAnalyser/repair">
      <br>
      <button mat-button id="downloadButton" (click)="repair()">
        <mat-icon>file_download</mat-icon>  Korrigiertes Backupfile herunterladen
      </button>
    </form>



  </main>
</body>
</html>
