<html>
  <div class="head">
    <nav>
      <a href="/start">Start</a>    <!-- href soll durch routerLink ausgetauscht werden, jedoch werdn dann files übereinander gezeigt-->
      <a href="/overview">Overview</a>
    </nav>

    <div class="logos">
      <a href="http://www.commend.com" target="_blank">
        <img id="logoCommend"
             src="https://www.commend.com/cLibrary/Online/Press/Logo-Commend-rgb-150x191mm-V10.jpg"
             alt="Commend-Logo">
      </a>
      <a href="http://www.htl-braunau.at" target="_blank">
        <img id="logoHTL"
             src="http://www.htl-braunau.at/typo3temp/_processed_/csm_HTL-Logo-RGB-transparent_1895d372b5.png"
             alt="HTL-Braunau- Logo">
      </a>
    </div>

    <h1>Backupanalyzer</h1>
  </div>
</html>

<router-outlet></router-outlet>

