@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  background-color: black;
}

h1 {
  color: #369;
  font-size: 250%;
  margin-left: 25%;
}

html {
  background-color: #e6e6e6;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*
animation-iteration-count - wie oft Animation durchgeführt wird
animation delay - wie viel Verzögerung zum Anfang der Animation
animation - name der Animation (mit @keyframe name schreiben)
 */

/*Verzögerung der einzelnen Balken */
.cube:nth-child(1),
.cube:nth-child(1) div {
  animation-delay: 0.08333s;
}

.cube:nth-child(2),
.cube:nth-child(2) div {
  animation-delay: 0.16667s;
}

.cube:nth-child(3),
.cube:nth-child(3) div {
  animation-delay: 0.25s;
}

.cube:nth-child(4),
.cube:nth-child(4) div {
  animation-delay: 0.33333s;
}

.cube:nth-child(5),
.cube:nth-child(5) div {
  animation-delay: 0.41667s;
}

.cube:nth-child(6),
.cube:nth-child(6) div {
  animation-delay: 0.5s;
}

.cube:nth-child(7),
.cube:nth-child(7) div {
  animation-delay: 0.58333s;
}

.cube:nth-child(8),
.cube:nth-child(8) div {
  animation-delay: 0.66667s;
}

#vignette {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  background-image: -webkit-radial-gradient(50% 50%, ellipse cover, transparent, rgba(0, 0, 0, 0.5));
  background-image: -moz-radial-gradient(50% 50%, ellipse cover, transparent, rgba(0, 0, 0, 0.5));
}

#position {
  position: absolute;
  top: 20%;
  left: 25%;
}

#container {
  width: 100%;
  perspective: 2200px;  /*Für 3D - Effekt */
  padding: 20px 60px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

#pos {
  width: 560px;
  margin: 0 auto;
}

/* Äußerer Rahmen der Balken */
.cube {
  width: 60px;
  height: 300px;
  position: relative;
  margin-right: 8px;
  float: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  animation: animCube;
  animation-iteration-count: infinite;
}

/* Inhalt der Balken */
.cube div {
  position: absolute;
  display: block;
  width: 60px;
  height: 300px;
}

.cube .center {
  width: 60px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 0 1px rgba(255, 255, 255, 0.05);
  animation: animCenter;
  animation-iteration-count: infinite;
}

.cube .bottom {
  width: 60px;
  height: 20px;
  bottom: 0;
  transform: rotateX(90deg);
  transform-origin: center bottom;
  animation: animBottom;
  animation-iteration-count: infinite;
}

.cube .left {
  left: 0;
  transform: rotateY(90deg);
  transform-origin: left center;
  animation: animSide;
  animation-iteration-count: infinite;
}

.cube .right {
  right: 0;
  transform: rotateY(-90deg);
  transform-origin: right center;
  animation: animSide;
  animation-iteration-count: infinite;
}

/* Dauer bis Animation beginnt und Geschwindigkeit festlegen */
.cube .left,
.cube .center,
.cube .right,
.cube .bottom,
.cube {
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out; /* langsamer Anfang & Ende (der einzelnen Balken) */
}

.left,
.right {
  background-color: #2b2830;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.center {
  background-color: #2b2830;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.bottom {
  background-color: #1f1d23;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

/* Animationen schreiben */
@keyframes animCube {
  30% {
    transform: translateZ(150px) translatex(0) translateY(0) rotatex(3deg) rotatey(0deg) rotateZ(0deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(0px) rotatez(0deg);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
}
@keyframes animSide {
  30% {
    width: 100px;
    background-color: #1d1c1f;
  }
  95% {
    width: 10px;
  }
}
@keyframes animBottom {
  30% {
    height: 100px;
  }
  95% {
    height: 10px;
  }
}
@keyframes animCenter {
  20% {
    background-color: #6a6371;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.15), inset 0 1px rgba(255, 255, 255, 0.5);
  }
  65% {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0), inset 0 1px rgba(255, 255, 255, 0.25);
  }
}
